.section {
  background: white;
  border: 1px solid #dadada;
  padding: 15px;
  border-radius: 4px;
  margin: 10px;
  display: flex;
  align-items: center;

  > div {
    flex: 1;
  }
  button {
    color: white;
    display: flex;
    align-items: center;
  }
}
.fusionContainer {
  padding: 10px;
  
  mat-form-field {
    cursor: pointer;
    width: 100%;
  }
  table {
    width: 100%;
  }
  @media (min-width: 768px) {
    mat-form-field {
      cursor: pointer;
      width: 300px;
    }
  }
}